<html>
    <head>
        <title>Steph's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 2026/03/06</p>
            <h2><a href="https://google.com">My first post</a></h2>
            <p>HI!!! Everyone!!!</p>
        </div>

        <div>
            <p>published: 2026/03/06</p>
            <h2><a href="">My second post</a></h2>
            <p>OHOHOHOHOH!!!</p>
        </div>
    </body>
</html>    